https://codingbat.com/prob/p189441

Q1.
Given a string, return a new string where "not " has been added to the front. 
However, if the string already begins with "not", return the string unchanged.


not_string('candy') â†’ 'not candy'
not_string('x') â†’ 'not x'
not_string('not bad') â†’ 'not bad'

In [8]:
def not_string(str):
    if len(str) >=3 and str[:3] =='not':
        return str
    return 'not ' + str

In [10]:
not_string('My name is Mahdi')

'not My name is Mahdi'

Q2.
Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).


missing_char('kitten', 1) â†’ 'ktten'
missing_char('kitten', 0) â†’ 'itten'
missing_char('kitten', 4) â†’ 'kittn'

In [11]:
def missing_char(str, n):
  front = str[:n]
  back = str[n+1:]
  return front + back

In [16]:
missing_char('mahdi', 0)

'ahdi'

In [17]:
a = 'Mahdi'

In [20]:
a[:4] # This takes everything from the beginning up to but not including the 4th letter in the string

'Mahd'

In [21]:
a[2:] # This takes everything from the 2nd position till the end of the string

'hdi'

In [24]:
a[1:-1]

'ahd'

Q3.
Given a string, return a new string where the first and last chars have been exchanged.


front_back('code') â†’ 'eodc'
front_back('a') â†’ 'a'
front_back('ab') â†’ 'ba'

In [30]:
def front_back(str):
  first = str[0]
  last = str[-1]
  middle = str[1:-1]
  return last + middle + first

In [31]:
front_back('Mahdi is Great')

'tahdi is GreaM'

In [32]:
def front_back2(str):
  if len(str) <= 1:
    return str
  
  mid = str[1:len(str)-1]  # can be written as str[1:-1] --# Takes the 2nd position the string all the way till one from the end
  
  # last + mid + first
  return str[len(str)-1] + mid + str[0]

In [33]:
front_back2('Helloww Mahdi')

'ielloww MahdH'

In [34]:
a[len(a)-1]  # Returns the last value in the string

'i'

Q4.
Given a string, we'll say that the front is the first 3 chars of the string. If the string length is less than 3, the front is whatever is there. Return a new string which is 3 copies of the front.


front3('Java') â†’ 'JavJavJav'
front3('Chocolate') â†’ 'ChoChoCho'
front3('abc') â†’ 'abcabcabc'

In [39]:
def front3(str):
  front_end = 3
  if len(str) < front_end:
    front_end = len(str)
  front = str[:front_end]
  return front*3 # Or you can do  return front + front + front

In [40]:
front3('Mahdi ')

'MahMahMah'

Q5.
Given a string, return a new string made of every other char starting with the first, so "Hello" yields "Hlo".


string_bits('Hello') â†’ 'Hlo'
string_bits('Hi') â†’ 'H'
string_bits('Heeololeo') â†’ 'Hello'

In [44]:
def string_bits(str):
  result = ""
  # Many ways to do this. This uses the standard loop of i on every char,
  # and inside the loop skips the odd index values.
  for i in range(len(str)):
    if i % 2 == 0:   # This Produces a 0 or 1 outcome
      result = result + str[i]
  return result

In [49]:
string_bits('Hi My Name is Mahdi')

'H yNm sMhi'

In [86]:
range(len('Ma h d i '))

range(0, 9)

In [92]:
strbit('My Name')

'M ae'

In [79]:
0%2

0

In [100]:
1%2

1

In [81]:
2%2

0

In [82]:
3%2

1

Q6. 
Given a non-empty string like "Code" return a string like "CCoCodCode".


string_splosion('Code') â†’ 'CCoCodCode'
string_splosion('abc') â†’ 'aababc'
string_splosion('ab') â†’ 'aab'

In [5]:
# Add up all odd numbers between 10 and 20
# Store the result in x:
x = 0

# YOUR CODE GOES HERE:
for num in range(10,20):
    if num % 2 == 1:    # Or  if n % 2 != 0:
        x += num  # or you can say x = x + numm
    
print(x)

75

In [4]:
# Add up all odd numbers between 10 and 20
# Store the result in x:

x = 0

for i in range(11,21,2):
        x += i
print(x)

75

In [19]:
times = int(input('How many times do I have to tell you? '))
#times = int(times)

for time in range(times):
    print('Clean up Now')

How many times do I have to tell you? 4
Clean up Now
Clean up Now
Clean up Now
Clean up Now

In [22]:
#Loop through 1 through 20 and if 
# the number is 4 or 13 print Unlucky
# the number is Odd Print Odd
# If Even Print even

for num in range(1,21):
    if num in (4,13):
        print(f'{num}: Unlucky')
    elif num%2 ==0:
        print(f'{num}: Even')
    else:
        print(f'{num}: Odd')

1: Odd
2: Even
3: Odd
4: Unlucky
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even
11: Odd
12: Even
13: Unlucky
14: Even
15: Odd
16: Even
17: Odd
18: Even
19: Odd
20: Even

In [24]:
for num in range(1,21):
    if num in (4,13):
        state = 'Unlucky'
    elif num%2 ==0:
        state = 'Even'
    else:
        state = 'Odd'
    print(f'{num}: {state}')

1: Odd
2: Even
3: Odd
4: Unlucky
5: Odd
6: Even
7: Odd
8: Even
9: Odd
10: Even
11: Odd
12: Even
13: Unlucky
14: Even
15: Odd
16: Even
17: Odd
18: Even
19: Odd
20: Even

In [26]:
print('\U0001f600')

ðŸ˜€

In [32]:

for i in range(0,5):
    print('\U0001f600'*i)

ðŸ˜€
ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€

In [41]:
[print('\U0001f600'*i) for i in range(5)]

ðŸ˜€
ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€

[None, None, None, None, None]

In [43]:
num = 1
while num < 5:
    print('\U0001f600'*num)
    num+=1

ðŸ˜€
ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€
ðŸ˜€ðŸ˜€ðŸ˜€ðŸ˜€

In [48]:
what = input('Say Something')
while what != 'ok':
    print('Stop copying me')
    what = input()

Say Somethingno
Stop copying me
yes
Stop copying me
no
Stop copying me
why
Stop copying me
ok

In [49]:
from random import randint

In [62]:

num = randint(1,5)
i = 1
while num !=5:
    num = randint(1,5)
    print(f'{i}:{num}')
    i+=1
    if i == num:
        break

1:4
2:1
3:5

In [67]:
from random import randint  # use randint(a, b) to generate a random number between a and b
 
number = 0 #store random number in here, each time through
i = 0  # i should be incremented by one each iteration
 
while number != 5: #keep looping while number is not 5
    i += 1
    number = randint(1, 10) #update number to be a new random int from 1-10
    print(f'{i} : {number}')

1 : 10
2 : 2
3 : 10
4 : 9
5 : 2
6 : 3
7 : 10
8 : 1
9 : 1
10 : 1
11 : 9
12 : 5

In [68]:
print('Hi Mahdi')

Hi Mahdi

In [ ]:
import random as rand

random_num = rand.randint(1, 10)
#print(random_num)
guess = ''
print('Guess the random number Between 1 and 10: \n')

while guess != random_num:
    guess = input()
    if guess not in range(1,11):
        print('Pick a # btween 1 and 10!!')
    if int(guess) > random_num:
        print(f'Your guess of {guess} was too high, Try AGAIN!!')
    elif int(guess) < random_num:
        print(f'Your guess of {guess} was too Low, Try AGAIN!!')
    else:
        print(f'Well Done! You Guessed:{guess} and the random number is {random_num}')
        break

Guess the random number Between 1 and 10:

12
Pick a # btween 1 and 10!!
Your guess of 12 was too high, Try AGAIN!!
0
Pick a # btween 1 and 10!!
Your guess of 0 was too Low, Try AGAIN!!
-10
Pick a # btween 1 and 10!!
Your guess of -10 was too Low, Try AGAIN!!
11
Pick a # btween 1 and 10!!
Your guess of 11 was too high, Try AGAIN!!

In [10]:
while guess != random_num:
    guess = int(input())
    if guess not in range(1,11):
        print('Pick a # btween 1 and 10!!')
    if guess > random_num:
        print(f'Your guess of {guess} was too high, Try AGAIN!!')
    elif guess < random_num:
        print(f'Your guess of {guess} was too Low, Try AGAIN!!')
    else:
        print(f'Well Done! You Guessed:{guess} and the random number is {random_num}')
        break

5
Your guess of 5 was too Low, Try AGAIN!!
3
Your guess of 3 was too Low, Try AGAIN!!
6
Well Done! You Guessed:6 and the random number is 6

In [3]:
import random as rand
random_num = rand.randint(1,11)
print('Guess a Number betwee 1 and 10 \n' )

while True:
    guess = int(input())
    if guess not in range(1,11):
        print('Pick a # btween 1 and 10!!')
    if guess > random_num:
        print(f'Your guess of {guess} was too high, Try AGAIN!! \n')
    elif guess < random_num:
        print(f'Your guess of {guess} was too Low, Try AGAIN!! \n')
    else:
        print(f'Well Done! You Guessed:{guess} and the random number is {random_num}')
        play_again = input('Would you like to play again? (y/n) \n')
        if play_again == 'y':
            random_num = rand.randint(1,11)
            guess = None
        else:
            print('Thank you for playing!')
            break

Guess a Number betwee 1 and 10

11
Pick a # btween 1 and 10!!
Your guess of 11 was too high, Try AGAIN!!

5
Well Done! You Guessed:5 and the random number is 5
Would you like to play again? (y/n)
n
Thank you for playing!

In [75]:
# Rock Paper Scisors Game:

from random import randint

print('Rock, Paper, Scisors !!! \n')

player = input('Player Make Your Move: ').lower()
computer = randint(0,2)
#print(computer)

if computer == 0:
    computer = 'rock'
elif computer == 1:
    computer = 'paper'
else:
    computer = 'scisors'

print(f'computer plays {computer}')

if player == computer:
    print('It''s a Draw')

elif player == 'rock':
    if computer == 'scisors':
        print('player Wins')
    else:
        print('Computer Wins')
              
elif player == 'paper':
    if computer == 'rock':
        print('Player Wins')
    else:
        print('Computer Wins')

elif player == 'scisors':
    if computer == 'paper':
        print('Player Wins')
    else:
        print('Computer Wins')
else:
    print('Invalid Entry')

Rock, Paper, Scisors !!!

Player Make Your Move: Scisors
computer plays rock
Computer Wins

In [2]:
from random import randint
# print("Rock...")
# print("Paper...")
# print("Scissors...")
player_score = 0
computer_score = 0
ties = 0
number_games = 2

#while True:
while player_score < number_games and computer_score < number_games:
    print(f'player score: {player_score}  computer score: {computer_score}  Number of Ties {ties}')

    player = input("Player, make your move: ").lower()
    if player == 'quit' or player == 'q':
        break

    rand_num = randint(0,2)
    if rand_num == 0:
        computer = "rock"
    elif rand_num == 1:
        computer = "paper"
    else:
        computer = "scissors"

    print(f"Computer plays {computer}" )

    if player == computer:
        print("It's a tie!")
        ties+=1

    elif player == "rock":
        if computer == "scissors":
            print("player wins!")
            player_score +=1
        else:
            print("computer wins!")
            computer_score +=1

    elif player == "paper":
        if computer == "rock":
            print("player wins!")
            player_score +=1
        else:
            print("computer wins!")
            computer_score +=1

    elif player == "scissors":
        if computer == "paper":
            print("player wins!")
            player_score +=1
        else:
            print("computer wins!")
            computer_score +=1

    else:
        print("Please enter a valid move!")
    print(f'Final Socre:\nplayer score: {player_score}  computer score: {computer_score}  Number of Ties {ties}')    

    play_again = input('Would you like to play again? (y/n) \n')
    if play_again == 'y':
        player = input("Player, make your move: ").lower()

    else:
        print('Thank you for playing!')
        break

player score: 0  computer score: 0  Number of Ties 0
Player, make your move: rock
Computer plays paper
computer wins!
Final Socre:
player score: 0  computer score: 1  Number of Ties 0
Would you like to play again? (y/n)
y
Player, make your move: rock
player score: 0  computer score: 1  Number of Ties 0
Player, make your move: rock
Computer plays scissors
player wins!
Final Socre:
player score: 1  computer score: 1  Number of Ties 0
Would you like to play again? (y/n)
n
Thank you for playing!

In [2]:
import pandas as pd
import numpy as np

In [49]:
# count all the likes by action_id 123:

post_info = pd.DataFrame({'date': ['4/3/2020','4/3/2020','4/3/2020','4/3/2020','4/3/2020','4/3/2020'],
             'action_id': [123, 123, 135, 135, 256, 352],
             'post_id':[987, 876, 884,763, 985, 378],
             'action_type': ['like', 'share','view', 'like', 'share', 'like'],
             'post_type': ['picture', 'video', 'picture', 'picture', 'video', 'picture']})
post_info

       date  action_id  post_id action_type post_type
0  4/3/2020        123      987        like   picture
1  4/3/2020        123      876       share     video
2  4/3/2020        135      884        view   picture
3  4/3/2020        135      763        like   picture
4  4/3/2020        256      985       share     video
5  4/3/2020        352      378        like   picture

In [50]:
post_info[(post_info['action_id']== 123) & (post_info['action_type']== 'like')].count()

date           1
action_id      1
post_id        1
action_type    1
post_type      1
dtype: int64

In [51]:
# Get the average number of likes by friends and family?

poster_info = pd.DataFrame({
             'post_id':[987, 876, 884,763, 378, 884],
             'interactot_id': [1234, 1236, 1358, 1350, 2546, 3728],
             'interactor': ['friend', 'friend','family', 'friend', 'family', 'friend'],
             })
poster_info

   post_id  interactot_id interactor
0      987           1234     friend
1      876           1236     friend
2      884           1358     family
3      763           1350     friend
4      378           2546     family
5      884           3728     friend

In [57]:
# Get the average number of likes by friends and family?

post_info[post_info['action_type']=='like'].merge(poster_info, 
                                                  on = 'post_id', 
                                                  how= 'left').groupby('interactor')['post_id'].count().reset_index()

  interactor  post_id
0     family        1
1     friend        2

In [70]:
post_info[(post_info['action_type']== 'like')].count()

date           3
action_id      3
post_id        3
action_type    3
post_type      3
dtype: int64

In [68]:
(post_info['action_type']=='like').value_counts()

True     3
False    3
Name: action_type, dtype: int64

In [78]:
post_info[(post_info['action_type'] =='like')].count()

date           3
action_id      3
post_id        3
action_type    3
post_type      3
dtype: int64